[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
watermark = "*"
savreaderwriter = "*"
"rpy2" = "==2.8.*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"

[dev-packages]
black = "*"
blackcellmagic = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
